---
---
@charset "utf-8";

$color-primary: #55ace8;
$color-content: #333333;
$color-background: #ffffff;

@page {
    size: A5;
}

@page:left {
    margin-left: 2cm;
    @bottom-left {
        content: counter(page);
    }
}

@page:right {
    margin-right: 2cm;
    @bottom-right {
        content: counter(page);
    }
}

html {
    font-size: 12pt;
    font-family: Source Sans Pro, sans-serif;

    color: $color-content;
}

body {
    margin: 0 auto;
    
    columns: 4cm 2;
    column-gap: 1cm;
}

header {
    column-span: all;
    margin-bottom: 1cm;

    break-after: avoid;
    page-break-after: avoid;
    page-break-inside: avoid;

    h1, h2, h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        margin-top: .5cm;
        color: lighten($color-content, 30%);
    }
}

h1,
h2,
h3,
h4 {
    break-after: avoid;
    page-break-after: avoid;

    margin-top: 2em;
}

a {
    color: $color-primary;
}

p,
blockquote {
    line-height: 1.6;
}

img {
    max-width: 100%;
}

* + * {
    margin-top: 1em;
}

li {
    margin-top: .25em;
}