---
layout: default
---


{% for post in site.posts %}
  <article>
    <header>
      <h1>{{ post.title | escape }}</h1>
      <p>{{ post.author }}</p>
    </header>
    {{ post.content }}
  </article>
{% endfor %}